@mixin colorLogo($couleur){
    fill: $couleur;
  }
  
@mixin Tonlook($taille, $couleur){
color: $couleur;
font-size: $taille;
}

@mixin padding-droite-gauche($taille) {
  padding-left: $taille;
  padding-right: $taille;
}