$couleurprin : #040037;
$couleursecon : #54c0ff;
$extremenoir : #171717;
$extremeblanc : #edf0ea;
$couleurancien : #7d685b;
$extremegris : #586171;
$violet : #81618d;

$classique: 'Outfit';
$manuscrit: 'Marck Script';