$couleurprin : #040037;
$couleursecon : mix(#54c0ff,#5b99c2);
$extremenoir : #171717;
$extremeblanc : #FEFCE9;
$couleurancien : #7d685b;
$extremegris : #586171;
$violet : #81618d;

$classique: 'Outfit';
$manuscrit: 'Marck Script';