body {
  background: url("../img/forest.jpg");
  background-size: cover;
  overflow: hidden;
}

header nav#navbar {
  background: #FEFCE9;
}

main {
  width: 100vw;
  height: 100vh;
}
main section {
  width: 50%;
  position: fixed;
  top: 50%;
}
@media screen and (min-width: 1023px) {
  main section {
    right: 0;
  }
}
main section h1, main section h2 {
  font-family: "Outfit";
  color: #FEFCE9;
  animation: 3s infinite couleur;
}
@keyframes couleur {
  from {
    color: #FEFCE9;
  }
  to {
    color: #171717;
  }
}

footer {
  display: none;
}