body {
  background: url("../img/Reedifica-img03.webp");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

header nav#navbar {
  background: #edf0ea;
}

main section {
  width: 50%;
  position: fixed;
  top: 50%;
  right: 0;
}
main section h1, main section h2 {
  font-family: "Outfit";
  color: #edf0ea;
  animation: 3s infinite couleur;
}
@keyframes couleur {
  from {
    color: #edf0ea;
  }
  to {
    color: #171717;
  }
}

footer {
  display: none;
}