@import "mixin"; @import "variables"; @import "responsive";



main{
    min-height: 100vh;
    h2{@include Tonlook(5em, $extremeblanc); }

      &::after {
        clear: both;
        content: '';
        display: block;
      }
    
    h4{
        @include Tonlook(3em, darken($extremenoir, 20%));
    }
    background: $couleursecon;

    @include plus-large-que(Moyen){

        
        article{
            background: mix($extremeblanc, $couleursecon);
            &:hover{
                background: mix($couleursecon,$couleurprin);
            }
        }
        section {
            float: left;
            box-sizing: border-box;
            width: 50%;
            margin-bottom: 15px;
            padding: 0px 15.5px;
    
            // &:nth-child(2n + 1) {
            //     clear: both;
            // }
        }
    }

 
        img{max-width: 300px;}



}

    



