#monde h2 + img {
  background-size: cover;
  position: fixed;
  top: 96px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

select {
  color: #edf0ea;
  background-color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.sous_monde {
  background-color: rgba(237, 240, 234, 0.9);
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.sous_monde img {
  max-width: 300px;
}

.sous_monde a, .sous_monde p {
  display: inline-block;
}

.banniere-lieu {
  width: 100%;
}

.banniere-lieu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 120px;
  border: solid 1px #CCC;
}

form {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

#titre, #bio {
  width: calc(60% - 1em);
  min-height: 40px;
  font-size: larger;
  padding: 1em;
}

article.rp {
  border: solid 2px black;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

article.rp h1, article.rp h2, article.rp h3, article.rp h4, article.rp h5, article.rp h6, article.rp p {
  font-family: initial;
  font-size: initial;
  color: initial;
}

@media screen and (min-width: 768px) {
  aside {
    padding: 1em;
    float: left;
  }
  aside img {
    max-width: 190px;
  }
  article.rp {
    float: left;
  }
}

.clear {
  clear: both;
}
