@import "mixin"; @import "variables"; @import "responsive";



main{
    padding-top: 1em;
    min-height: 80vh;
    h2{@include Tonlook(5em, $extremeblanc); }

      &::after {
        clear: both;
        content: '';
        display: block;
      }
    
    h4{
        @include Tonlook(3em, darken($extremenoir, 20%));
    }
    background: linear-gradient(180deg, mix($couleurprin, $couleursecon) 0%, $couleursecon 100%);
    

    @include plus-large-que(Moyen){

        h3, select{
            display: inline-block;
            text-align: center;
            @include padding-droite-gauche(1em);
        }

          section#monde, section#sous-monde  {
            float: left;
            box-sizing: border-box;
            width: 50%;
            margin-bottom: 15px;
            padding: 0px 15.5px;
    
            // &:nth-child(2n + 1) {
            //     clear: both;
            // }
            
        }
    }



 
    
}



#monde select{
    color: $extremeblanc;
    background-color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

#monde, #sous-monde {

    img, p {
        padding: 0.2rem;
        border: 5px double $extremeblanc;
        float: left;
    }
    h4, h5 {
        @include titre-h4-monde(5em,$extremeblanc,$couleurprin);
        text-align: center;
        padding: 0.2rem;
        border: 5px double $couleurprin;
    }
    img{max-width: 300px;}

}
#monde   article{
    // background: $couleurancien;
    // background: url("../img/bois.jpg");
    background-size: cover;
    
}
    

.banniere-lieu{
    width: 100%;
    img{
        object-fit:cover;
        width:100%;
        height:120px;
        border: solid 1px #CCC;
    }
}

form{
    margin-top: 0;
    @include margin-droite-gauche(auto);
    
}

#titre,#bio {
    width: calc(60% - 1em);
    min-height: 40px;
    font-size: larger;
    padding: 1em;
}
