main {
  min-height: 100vh;
  background: #54c0ff;
}

main h2 {
  color: #edf0ea;
  font-size: 5em;
}

main::after {
  clear: both;
  content: '';
  display: block;
}

main h4 {
  color: black;
  font-size: 3em;
}

@media screen and (min-width: 768px) {
  main article {
    background: #a1d8f5;
  }
  main article:hover {
    background: #2c609b;
  }
  main section {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    margin-bottom: 15px;
    padding: 0px 15.5px;
  }
}

main img {
  max-width: 300px;
}
