@import "mixin"; @import "variables"; @import "responsive";



main{
    min-height: 100vh;
    h2{@include Tonlook(5em, $extremeblanc); }

    
    h4{
        @include Tonlook(3em, darken($extremenoir, 20%));
    }
    background: $couleursecon;

    @include plus-large-que(Moyen){

        
        article{
            width: 33%;
            padding:10px;
            // text-align:justify;
            // vertical-align: middle;
            // display: table-cell;
            background: mix($extremeblanc, $couleursecon);
            // border: ;

            &:hover{
                background: mix($couleursecon,$couleurprin);
            }
        }
    }

    #monde{
        img{max-width: 200px;}
    }
}

    



