@import "mixin"; @import "variables";

main{
    h3{
        color: $extremeblanc;
        margin-top: 96px;
    }

    section{
        overflow: hidden;
        text-align: center;
        border-radius: 50px;
        padding: 1em;
        @include texte(16px, $extremeblanc, $couleurprin);
        p,ul{
            padding: 1em; 
            text-align: left;
        }
        img{
            display: block;
            margin: 0 auto;
            width: 30vw;
        }
        img[alt="story1"] {display: inline-block; height:300px; object-fit: contain;width: initial;}
        li{ font-size: 1.5em;list-style: inside url('../img/Logo_favicon.svg'); padding: 4px;}

    }

    h2,h4{
        color: $couleursecon;
        font-family: $classique;
    }

}

