@import "mixin"; @import "variables"; @import "responsive";


h1.logo {
    svg {
      width: 30vw;
    }
  }

main{
  padding-top: 20vh;
  section article { @include margin-haut-bas(20vh)}
}

#mask-noir .path, #mask-noir:hover .path {
  -webkit-animation: dash 1s ease-out;
  -moz-animation: dash 1s ease-out;
  -o-animation: dash 1s ease-out;
  animation: dash 1s ease-out;
  opacity: 1; 
}


@keyframes dash {
  0% {
    opacity: 0;
  }
  50% {
    @include colorLogo($couleursecon); 
  }

  100%{
    opacity: 1;
    @include colorLogo($couleurprin); 
  }
}


#banniere {
  padding: 1em;
  text-align: center;
  background: $extremegris;

  h1,h6{  position: absolute;}

  h1 { right: 50%; }

  video { width: 60vw; }

  h6 { display: none;}
}
@include plus-large-que(Large){
  #navbar{
    background: $extremeblanc;
    background: linear-gradient(0deg, $extremeblanc 75%, $extremegris 100%);
  }
}
#navbar.sticky{
  background: $extremeblanc;
}



section#accueil{
  article+article{
    margin-top: 100px;
  }
}

@include plus-large-que(Moyen){
  #intro{
    padding: 0.3%; 
  
    h2+img+p, h2+img{
      display:inline-block;
  
    }
    h2+img+p{
      width: 60%; 
      border: $extremenoir 1px dotted;
      margin-left: 10px;
      @include Tonlook (2em, $extremegris );
      overflow: auto;
      height: 40vh;
      @include padding-droite-gauche(0.3%);
    }
  
    h2+img{
      height: 40vh;
  
    }
  }
}



#actualite{
  #carousel{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    @include margin-haut-bas(30px)
  }
  
  img{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
  }

  #slideImg, #carousel_text{
    width: 50%;
    padding: 1em;
    // align-items: flex-start;
  }
  #carousel_text{
    button {
      margin: 1em auto;
      border: 1px solid $extremenoir;
      color: $extremegris;
      padding: 0 15px;
      height: 36px;
      background: none;
      letter-spacing: 0.2em;
      &:hover{
        cursor: pointer;
        border-color: $couleursecon;
        color: $couleursecon;
      }
    }
    
  }

  a.carousel_button{
    font-size: 3.3em;
    padding: 1em;
    &:hover{color: mix($extremenoir, $extremeblanc );}
    &:active{color: mix($couleurprin, $couleursecon );}
  }
 

}

#Exploration{
  margin-top: 44px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;  
  padding: 1em;
  @include padding-haut-bas(30px);
  background-color: $extremegris;

  box-shadow: inset 0px 0px 10px 4px rgba($extremenoir, .75);
  -moz-box-shadow: inset 0px 0px 10px 4px rgba($extremenoir, .75);
  -webkit-box-shadow: inset 0px 0px 10px 4px rgba($extremenoir, .75);

  section{
    max-width: 25vw;
    margin: 0 auto;
  }
  img{    width: 100%;  }

  h3{
    grid-area: 1 / 1 / 2 / 4; 
    padding-bottom: 1em;
    color: saturate($couleursecon,20%);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $couleursecon, 0 0 30px $couleursecon, 0 0 40px $couleursecon, 0 0 55px $couleursecon, 0 0 75px $couleursecon, 0px 1px 18px rgba(206,206,206,0);

    +section {  grid-area: 2 / 1 / 3 / 2;
      +section{ grid-area: 2 / 2 / 3 / 3; 
        +section{ grid-area: 2 / 3 / 3 / 4; } } }
  }

  ul li { @include Tonlook(2em, $extremeblanc); padding: 0.2em; text-shadow: 2px 2px 2px $extremenoir;}

}

@include plus-large-que(Geant){
  #banniere {
    h6 { right: 60%;top: 25vh; font-size: 2em; display: inline;}
  }
}


// @include plus-petit-que(Large){
  
// }

@include plus-petit-que(Moyen){
  #actualite, #banniere { display: none;}

  #intro{
    h2+img{
      display:block;
      width: 100%;
      @include margin-haut-bas(1em);
    }
    h2+img+p{
      
      display:inline;
      border: 0;
      overflow: visible;
    }
  }
  #Exploration{
    display: block;
    section {
      max-width: 90%;
      @include margin-haut-bas(2em);
    }
  }

}

