@import "mixin"; @import "variables";

.logo {
    svg {
      width: 30vw;
    }
  }

main{
  padding-top: 20vh;
}

#mask-noir .path {
  -webkit-animation: dash 1s ease-out;
  -moz-animation: dash 1s ease-out;
  -o-animation: dash 1s ease-out;
  animation: dash 1s ease-out;
  opacity: 1; 
}


@keyframes dash {
  0% {
    opacity: 0;
  }
  50% {
    @include colorLogo(#54c0ff); 
  }

  100%{
    opacity: 1;
    @include colorLogo(#040037); 
  }
}


#header {

  nav#user {
    position: fixed;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 20px;

  }

  div#banniere {
    background: #586171;  /* fallback for old browsers */
    &::after {
      background: #586171;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #586171, #edf0ea);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #586171, #edf0ea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      display: block;
      width: 44px;
      content: "";
    }
    
  }
}


nav#nav{
  background: rgb(237,240,234);
  background: linear-gradient(0deg, rgba(237,240,234,1) 75%, rgba(88,97,113,1) 100%); 
}

#Exploration{

  p{
    display: none;
  }
  img{
    &:active + p{
      display: block;
    }
  }
  background-color: #586171;
}

