@media screen and (min-width: 1023px) {
  main section {
    float: left;
    width: 50%;
    min-height: 70vh;
  }
}

img {
  max-width: 50%;
}

.date {
  color: #5691b8;
  font-size: auto;
}

.clear {
  clear: both;
}

article h4 {
  color: auto;
  font-size: 2em;
  font-family: "Outfit";
}

article h4:hover {
  color: #6b91c6;
}
