@import "mixin"; @import "variables"; @import "responsive";

@include plus-large-que(Large){
    main {
        section{
            float: left;
            width: 48%;
            min-height: 70vh;
        }
    }
}

main{
    img{
        max-width: 50%;
        height: 50vh;
        background-size: contain;
        float: left;
        + p {float: left;width: 30%;}
    }
    section#presentation p{padding-left: 16px;}
}

.date{
    @include Tonlook (auto, mix($extremegris, $couleursecon));
}

.clear{clear: both;}
section#presentation + section{
    overflow: auto;
    height: 60vh;
    border-left: 2px solid $extremenoir;
    padding: .5em;
}

article{
    h4{
        @include Tonlook (2em, auto);
        font-family: police(police,classique);
       &:hover{
        color: mix($couleursecon, $violet);
       }
    }
    
}

input:not(:checked)#img_p+fieldset{
    display: none;
}
input:checked#img_p fieldset{
    display: block;
}

input[type=submit] {
    text-align: center;
    border: 1px solid #171717;
    border-color: $couleursecon;
    color: $couleursecon;
    padding: 0 15px;
    height: 36px;
    background: none;
    letter-spacing: 0.2em;

    &:hover{
        cursor: pointer;
        border-color: rgb(23, 23, 23);
        color: #58ade1;
    }
  }

aside{
    color: $extremeblanc;
    margin-top: 20px;
    background: mix($extremenoir, $extremegris);
    clear: both;
    min-height: 30vw;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
    border-radius: 30px 30px 0 0 ;

    form{
        padding: 1em;
      
    }

    fieldset{
        display: flex;
        align-items: center;
    }

    legend{
        @include texte(2em, $extremeblanc, none);
    }

    h5{
        @include texte(3em, $extremeblanc, mix($couleurancien, $extremegris));
        border-radius: 30px 30px 0 0 ;
        text-align: center;
        padding: 0.3em;
    }

    a{
        font-weight: bold;
        color: $extremeblanc;
        &:visited {color: $couleursecon;}
    }
}



table {
    border-radius: 5px;
    text-align: center;

    width: 100%;
    table-layout: auto;

    img{
        object-fit:cover;
        width:80px;
        height:80px;
        border: solid 1px #CCC;
        border-radius: 50%
    }
    tr {
        background-color: mix($extremeblanc, $couleurancien);

    }
    tr:nth-child(2n) {
        background-color: #f8f6ff;
      }
      
    th{
        font-size: 18px;
        color: #fff;
        line-height: 1.4;
        background-color: #6c7ae0;
    }
    tr:hover td{
        background-color: #232d7a;
        color: rgb(255, 255, 255);
        a{

            &:visited {color: #fff;}
        }
    }

    td {
        transition: 0.2s;
        font-size: 15px;
        color: $extremenoir;
        line-height: 1.4;
        padding-top: 16px;
        padding-bottom: 16px;
        vertical-align: middle;
        
    }

}