@import url("reset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import "mixin"; @import "variables";

body{
    font-family: 'Outfit', sans-serif;
    background-color: #edf0ea; 
    }

main{
    @include padding-droite-gauche(5vw)
}

h1,h2,h3,h4{
    font-family: 'Marck Script', cursive;
}    

p{
    font-size: 1.5em;
}



#mask-noir .path {
    -webkit-animation: dash 1s ease-out;
    -moz-animation: dash 1s ease-out;
    -o-animation: dash 1s ease-out;
    animation: dash 1s ease-out;
    opacity: 1;
    
  }
  
  
  @keyframes dash {
    0% {
      opacity: 0;
    }
    50% {
      @include colorLogo(#54c0ff); 
    }
  
    100%{
      opacity: 1;
      @include colorLogo(#040037); 
    }
  }


footer{
    background-color: #040037;
    color: #edf0ea;
}