@import url("reset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import "mixin"; @import "variables";

body{
    font-family: 'Outfit', sans-serif;
    background-color: #edf0ea; 
    }


main {
  @include padding-droite-gauche(5vw);

  h1,h2,h3,h4{
    font-family: 'Marck Script', cursive;
  } 

  h2{
    @include Tonlook(5em, #54c0ff);
  }
  h3{
    @include Tonlook(4em, black);
  }
  
  h4{
    @include Tonlook(3em, black);
  }
}

p{
    font-size: 1.5em;
}

#nav {
  svg{
    display: none;
  }

  #menu-princiapl{
    text-align: center;
    overflow: hidden;
    padding-top: 44px;

    li{
        display: inline-block;
        position: relative;
        @include Tonlook(1.4em, #7d685b);
        font-weight: bold;

        &:hover ul{
          top: 36px;
          left: 0;
          z-index: 100;

        }
    }
    ul{
      display: none;
      a{
        display: block;
      }
    }
    a{
      display: block;
      padding: 3px 10px;
      // text-align: center;
    }
  }
}

footer{
    background-color: #040037;
    color: #edf0ea;
}