@import url("reset.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import "mixin"; @import "variables"; @import "responsive";

// DESKTOP FIRST

body{
  font-family: 'Outfit', sans-serif;
  background-color: $extremeblanc; 
}

main {
  @include padding-droite-gauche(5vw);

  h1,h2,h3,h4{
    font-family: 'Marck Script', cursive;
  } 

  h2{    @include Tonlook(5em, $couleursecon);  }
  h3{    @include Tonlook(4em, $couleurprin);  }
  
  h4{    @include Tonlook(3em, $extremenoir);  }
}

p{  font-size: 1.5em;}

hr {
  border: 1px solid $extremenoir;
  margin-bottom: 25px;
}

@include plus-large-que(Moyen){
  #navbar{
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    text-transform: uppercase;
    input:not(:checked), input:checked, label {display: none;}
    .logo {    float: left;  }
  
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
  
      li{
        display: block;
        cursor: pointer;
        padding: 0 1.5rem;
        transition: 0.5s;
        letter-spacing: 2px;
        color: $couleurancien;
  
          ul{
            display: none;
            position: relative;         
          }
  
          &:hover, &:focus{
            color: $extremenoir;
            ul{
                display: block;
                padding: 1em;
                 li:hover{
                  background: rgb(189, 176, 158);
                }
              }
          }

      }
    }
    a{
      text-decoration: none;
      color: $couleurancien;
     &:visited {
       color: $couleurancien;
     }
     &:hover{
       color: $extremenoir;
     }
    }
  }

  
  .sticky{
    // padding: 5px 100px;
    z-index: 99;

    background: $extremeblanc;
    position: fixed;
    top: 0px;
    ul li a{
      color: $extremenoir;
    }
  }
}


footer{
    background: $couleurprin;
    background: linear-gradient(90deg, $extremenoir 0%, $couleurprin 100%);
    color: $extremeblanc;
    display: flex;
    flex-direction: row;
    padding: 2em;
    overflow: hidden;
    .boite {
      flex: 1;
    }
    img{ min-width: 200px;}
}

// ------------------------------------


@include plus-petit-que(Moyen){
  footer{
    display: block;
    div{display: inline-block;}
  }
}


@include plus-petit-que(Geant){ nav#navbar{   flex-direction: column; }}

@include plus-petit-que(Moyen){
  nav#navbar{
    line-height: 3rem;
    display: block;

    
    input:not(:checked), input:checked {
      position: absolute;
      left: 0;
      opacity: 0.01;
      z-index: 10;
      width:30px;
      height:30px;
    }
    
    input:not(:checked) + label::before,    input:checked + label::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width:30px;
      height:30px;
      border: 1px solid #aaa;
      background: #FFF;
      border-radius: .2em;
      box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba($couleursecon, .2);
      -webkit-transition: all .275s;
      transition: all .275s;
    }


    input:not(:checked) + label::after, input:checked + label::after {
      content: '✕';
      position: absolute;
      top: .525em;
      left: .18em;
      font-size: 30px;
      color: $couleurprin;
      line-height: 0;
      -webkit-transition: all .2s;
      transition: all .2s;    
    }

        /* Aspect non cochée */
    input:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0) rotate(45deg);
    }

    /* Aspect cochée */
    input:checked + label::after {
      opacity: 1;
      transform: scale(1) rotate(0);
    }

    #user{
      text-align: center;      display: none;    }

      label+ ul{ 
      display: none;
      transition: transform .2s;
      will-change: transform;
      padding: 2px;

      > li{
          display: list-item;
          line-height: 3rem;
          padding-left: 1rem;
          ul li {display: inline-block;}
          @include Tonlook(30px, $extremenoir)
      }
    }

    input:checked + label+ ul, input:checked + label+ ul + #user{
      // transform: translateX(25%);
      display: list-item;
    }
  }
}