@import "mixin"; @import "variables"; @import "responsive";


#connexion-body{
    background-image: url("../img/connexion.jpg");
}
#inscription-body{
    background-image: url("../img/Sky.png");
}
#connexion-body,#inscription-body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    
}

#connexion-main{
   @include plus-large-que(Geant){
    width: 50vw;
    
   }

    margin-top: 100px;
    @include margin-droite-gauche(auto);
    input {
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $extremenoir;
        background-color: $extremeblanc;
        background-clip: padding-box;
        border: 1px solid $extremeblanc;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        
    }
    input[type="submit"]{
        margin-top: 44px;
        width: 50%;
        border: double;
        @include margin-droite-gauche(25%);
        transition: .3s;
    }

    input[type="submit"]:hover {
        
        background-color: $extremenoir;
        color: $extremeblanc;
        border-color: $extremeblanc;
        cursor: pointer;
    }

    label{
        @include Tonlook(1em, $extremeblanc)
    }
    p{color: $extremeblanc; font-weight: bold;}
    nav{
        @include margin-droite-gauche(auto);
        text-align: center;
        display: table;
        @include margin-haut-bas(10px);
        
        a{
            display:table-cell;
            min-width: 195px;
            padding: 1em;
            font-size: 2rem;
            color: saturate($extremeblanc,20%);
            text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $couleursecon, 0 0 30px $couleursecon, 0 0 40px $couleursecon, 0 0 55px $couleursecon, 0 0 75px $couleursecon, 0px 1px 18px rgba(206,206,206,0);

        }
        @include plus-petit-que(Moyen){
            display: block;
            a{
                display: block;
            }
        }
    }
}

fieldset div{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 8px 0;
}



span{
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#inscription-main{
    
    min-height: 100vh;
    @include plus-large-que(Petit){
        width: 70%;
    }
    @include plus-large-que(Moyen){
        width: 50%;
    }
    background: radial-gradient(rgba($extremeblanc, .87), $extremeblanc);
    h1{
        font-size: 2em;
        @include margin-haut-bas(0.67em);
    }
    h2{
        font-size: 1.5em;
        @include margin-haut-bas(0.83em);
        color: mix($couleurprin,$couleursecon);
    }
    h4, .don label{
        font-size: 1.17em;
        @include margin-haut-bas(1em);
    }
    h3{
        font-size: 2em;
        @include margin-haut-bas(1.33em);
    }
    h5{
        font-size: .83em;
        @include margin-haut-bas(1.67em);
    }
    h6{
        font-size: .67em;
        @include margin-haut-bas(2.33em);
    }

    h1,h2,h3,h4,h5,h6, .don label{
        font-family: police(police, classique);
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    ul{ list-style: inside;}
    article {
        overflow: auto;
        max-height: 60vh;
    }
    strong{
        font-weight: bold;
    }

    
    
    section{
        overflow: auto;
        max-height: 80vh;
        position: relative;
    }


    input[type="submit"]{
        font-size: 1.5em;
        color: mix($couleurprin,$couleursecon);
        font-family: police(police, classique);
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        background: none;
        transition: 0.5s;

        &:hover {
            color: $extremenoir;
        }
    }
}


